#about {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  
    .container:first-of-type {
      margin: 0 auto 2rem;
      display: grid;
      align-items: start;

      @media (min-width: 900px) {
        grid-template-columns: 40% 1fr;
        grid-template-rows: auto auto auto auto;

        h2 {
            grid-column: span 2;
        }

        blockquote {
            grid-column: 1/2;
            grid-row: 2/5;
        }

        p {
            grid-column: 2/3;
        }
      }
  
      h2 {
        text-align: center;
        font-size: $font-size-h1;
        font-weight: $font-weight-strong;
        margin-bottom: 2rem;
      }
  
      blockquote {
        position: relative;
        padding: 2rem;
        font-style: italic;

        p {
            margin-bottom: 0;
            color: $color-secondary;
            font-size: calc($font-size-text + .2rem);
        }
     
        strong {
          font-weight: bold; 
          color: $color-secondary;
        }
  
        a {
          color: $color-secondary;
  
          &:hover {
            text-decoration: underline;
          }
        }

        &::before {
          content: '';
          position: absolute;
          top: 0; 
          left: 10px;
          width: 40px;
          height: 40px;
          background: url('../public/images/quote-before.svg') no-repeat center center; 
          background-size: contain;
        }
  
        &::after {
          content: '';
          position: absolute;
          bottom: 0; 
          right: 3rem;
          width: 40px;
          height: 40px;
          background: url('../public/images/quote-after.svg') no-repeat center center; 
          background-size: contain;
        }
      }
  
      p {
        color: $color-primary;
        font-size: 1rem;
        line-height: 1.6;
        margin-bottom: 1.5rem;
  
        a {
          color: $color-primary;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .container:last-of-type {
        display: grid;
        
        @media (min-width: 900px) {
            grid-template-rows: auto auto auto auto;
            grid-template-columns: 30% 1fr;
            grid-auto-flow: dense;

            h2 {
                grid-column: span 2;
                grid-row: 1/2;
            }
     
            p {
                grid-column: 1/2;
                grid-row: 2/4;
                padding: 1rem;
     
                &:nth-of-type(1) {
                    grid-row: span 1;
                }
     
                &:nth-of-type(3) {
                    grid-row: span 1;
                    margin-top: -2.5rem;
                }
     
                &:nth-of-type(4) {
                    grid-row: span 1;
                    margin-top: -2.5rem;
                }

                &:nth-of-type(2) {
                    grid-column: 2/3;
                    grid-row: 2/3;
                    padding: 1rem;
                }
            }

            ul {
                grid-column: 2/3;
                grid-row: 3/5;
                margin-top: -10rem;
            }

            &::before {
                content: "";
                grid-column: 2/3;
                grid-row: 2/span 3;
                background-color: $color-tertiary;
                z-index: -1;
                position: relative;
            }
        }
 
        p {
            &:nth-of-type(2) {
                color: $color-secondary;
                padding: 1rem;
                background: $color-tertiary;
                margin-bottom: 0;
                font-weight: $font-weight-strong;
            }
        }
 
        ul {
            padding: 1rem;
            background: $color-tertiary;
            margin-bottom: 1rem;
 
            li {
                display: inline-block;
                border: 1px solid $color-primary;
                padding: .5rem;
                text-transform: capitalize;

                &:hover {
                    color: $color-tertiary;
                    background: $color-primary;
                    border: none;
                }
            }
        }
 
        // &::before {
        //     content: "";
        //     grid-column: 1/2;
        //     grid-row: 3/span 2;
        //     background-color: $color-tertiary;
        //     z-index: -1;
        //     position: relative;
        // }
    }
}
  







