#contribute {
    // background-color: $color-background;
    padding: 2rem;
    position: relative;
  
    .container {
        margin: 0 auto;
  
      p {
        margin-bottom: 1.5rem;
  
        a {
          text-decoration: none;
          color: $color-primary;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
  
      ol {
        list-style: decimal inside;
        padding-left: 1rem;
  
        li {
          margin-bottom: 1rem;
          line-height: 1.6;
  
          a {
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  
    // footer {
    //   background-color: $color-other; 
    //   padding: 2rem;
    //   text-align: center;
  
    //   h3 {
    //     // font-size: 1.5rem;
    //     // font-weight: bold;
    //     color: $color-primary;
    //     margin-bottom: 1rem;
    //   }
  
    //   a {
    //     display: inline-block;
    //     background-color: $color-secondary; 
    //     color: $color-background; 
    //     padding: 0.75rem 1.5rem;
    //     text-decoration: none;
    //     margin: 0.5rem;
    //     transition: background-color 0.3s ease;
  
    //     &:hover {
    //       background-color: $color-primary;
    //     }
  
    //     &:focus {
    //       outline: 2px dashed $color-other; 
    //       outline-offset: 3px;
    //     }
    //   }
    // }
  }
  