#files {
    background-color: $color-other; 
    padding: 2.5rem 2rem;
    position: relative;
    text-align: center;

      h3 {
        font-size: 1.8rem;
        font-weight: bold;
        color: $color-secondary; 
        margin-bottom: 1.5rem;
        vertical-align: middle;
  
        &::before {
          content: '◍';
          display: inline-block;
          font-weight: $font-weight-strong;
          margin-right: 1rem;
        //   width: 50px;
        //   height: 50px;
        //   background-image: url('../public/images/hut.png'); 
        //   background-size: contain;
        //   background-repeat: no-repeat;  
        //   vertical-align: middle;
        }
      }
  
      a {
        display: inline-block;
        margin: 0.5rem;
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        font-weight: bold;
        text-decoration: none;
        color: $color-background; 
        background-color: $color-secondary; 
        transition: background-color 0.3s ease;

        @media (max-width: 585px) {
            width: 14rem;
        }
  
        &:hover {
          background-color: $color-other;
          color: $color-secondary;
          border: 1px solid $color-secondary; 
        }
  
        &:focus {
          outline: 2px dashed $color-other; 
          outline-offset: 2px;
        }
  
        // &.link-downloadcss {
        //   background-color: $color-secondary;
  
        //   &:hover {
        //     background-color: $color-primary;
        //   }
        // }
  
        // &.link-downloadhtml {
        //   background-color: $color-primary;
  
        //   &:hover {
        //     background-color: $color-other;
        //   }
        // }
  
        // &.link-codepen {
        //   background-color: $color-secondary;
  
        //   &:hover {
        //     background-color: $color-primary;
        //   }
        // }
      }
    
  }
  