.page-footer {
    background-color: $color-primary; 
    color: $color-tertiary;
    padding: 1.5rem 1rem; 
  
    .container {
      max-width: 1200px;
      margin: 0 auto;
      text-align: center;
  
      p {
        font-size: 0.9rem;
        line-height: 1.4;
        // margin-bottom: 1rem;
  
        a {
          text-decoration: none;
          font-style: italic;
  
          &:hover {
            color: $color-other;
            text-decoration: underline;
          }
        }
      }
  
      ul {
        list-style: none;
        padding: 0;
        margin: 1rem 0;
        display: flex;
        justify-content: center;
        gap: 0.5rem;

        @media (max-width: 650px) {
            flex-direction: column;

            li {
                a {
                    width: 14rem;
                }
            }
        }
  
        li {
          a {
            display: inline-block;
            background: $color-tertiary; 
            color: $color-primary; 
            padding: 0.5rem 1rem; 
            font-size: 0.9rem; 
            font-weight: bold;
            text-decoration: none;
            transition: background-color 0.3s ease;
  
            &:hover {
              background: $color-primary;
              border: 1px solid $color-tertiary;
              color: $color-tertiary;

              svg {
                path {
                    fill: $color-tertiary;
                }
              }
            }
  
            &:focus {
              outline: 2px dashed $color-other;
              outline-offset: 2px;
            }
  
            svg {
              display: inline-block;
              width: 16px; 
              height: 16px;
              margin-right: 0.5rem;
  
              path {
                fill: $color-primary; 
              }
            }
          }
        }
      }
  
      .link-github {
        background-color: $color-tertiary; 
        color: $color-primary;
        padding: 0.5rem 1rem;
  
        svg {
          margin-right: 0.5rem; 
        }
  
      }

    }
}
  