nav {
    background: $color-other;
    padding: 1rem;

    ul {
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        height: 100%;
        position: relative;

        li {
            text-transform: uppercase;
            height: 100%;
            
            &:not(:last-of-type):after {
                position: absolute;
                content: '◈';
                margin-left: .3rem;
                text-align: center;
                font-size: $font-size-h2;
                color: $color-secondary;
            }

            @media (max-width: 900px) {
                
                &:last-of-type:after {
                    position: absolute;
                    content: '◈';
                    margin-left: .3rem;
                    text-align: center;
                    font-size: $font-size-h2;
                    color: $color-secondary;
                }
            }

            a {
                display: inline;
                font-size: $font-size-h2;
                padding: .5rem;
                height: 100%;
                transition: background 0.3s ease;
                
                &:hover {
                    background: $color-primary;
                    color: $color-other;
                }
            }
        }

        @media (max-width: 900px) {
            flex-direction: column;
        }
    }
}