aside.profile {
    background: $color-background;

    .container{
        color: $color-primary;
        padding: 5rem;
        text-align: center;

        ul {
            display: inline-block;
            li {
                display: inline-block;
                list-style: none;

                a {
                    text-decoration: none;
                    color: $color-primary;
                }
            }
        }

        >a {
            display: block;
            padding: .5rem;
            max-width: 14rem;
            background: $color-primary;
            color: $color-tertiary;
            margin: 0 auto;
            margin-top: 1rem;
        }
    }
}