@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Unbounded:wght@200..900&display=swap");
:root {
  --color-primary: #300300;
  --color-secondary: #6D0D01;
  --color-tertiary: #FDE9C4;
  --color-other: #FFCA62;
  --color-background: #fdfdfd;
  --color-text: rgb(25.2, 9.45, 8.4);
  --color-light: #fff;
  --color-anchor: #6D0D01;
  --font-family: "Charis SIL", serif;
  --font-title-family: "unbounded";
  --font-weight-strong: 600;
  --font-size-h1: 2rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.3rem;
  --font-size-h4: 1.15rem;
  --font-size-text: 1rem;
  --border-radius: 15px;
}

/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default styles for common elements */
html {
  font-size: 100%; /* Set base font size for scalability */
  line-height: 1.6;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
  color: #300300;
  font-family: "Arial", sans-serif;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Remove default link styling */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove table border-spacing and collapse borders */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove default button and input styles */
button,
input,
textarea,
select {
  margin: 0;
  font: inherit; /* Ensure inputs and buttons inherit font styles */
  color: inherit;
  background: none;
  border: none;
  outline: none;
  appearance: none;
}

/* Normalize images and media */
img,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Ensure consistent form element alignment */
input,
textarea,
button,
select {
  vertical-align: middle;
}

/* Reset quotes */
blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}

body {
  color: #300300;
  background: #fdfdfd;
  font-family: var(--font-family);
}

#main {
  width: 70vw;
  margin: auto;
}
@media (max-width: 680px) {
  #main {
    width: 85vw;
  }
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-title-family);
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 0.6em;
}

h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 7vw, var(--font-size-h1));
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(2rem, 4vw, var(--font-size-h2));
  text-align: center;
}

h1, h2 {
  position: relative;
}
h1::before, h2::before {
  display: inline-block;
  content: "◈";
  margin-left: -0.5rem;
  margin-right: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
  align-content: center;
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p,
li {
  font-size: var(--font-size-text);
}

p {
  margin: 0 0 1rem;
}
p a:hover {
  text-decoration: underline;
}

article .container > ul:not(.features) > li + li,
article .container > ol > li + li {
  margin-top: 1rem;
}
article .container * + h2 {
  margin-top: 4rem;
}
article .container * + h3 {
  margin-top: 2rem;
}

strong {
  font-weight: var(--font-weight-strong);
}

a {
  font-weight: 600;
}

#guidelines p:nth-of-type(1),
#contribute p:nth-of-type(1) {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-strong);
}

body .skip-link {
  display: none;
}

header {
  width: 100%;
  height: 15rem;
  position: relative;
  box-sizing: content-box;
}
header::before {
  display: flex;
  position: absolute;
  content: "";
  background-image: url(../public/images/bg-pic.jpg);
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: width 0.3s ease;
}
header .container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin-left: 50%;
  padding: 0 2rem;
  background: #FDE9C4;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}
header .container h1 {
  text-transform: uppercase;
  font-size: 2rem;
}
header .container h2 {
  text-align: left;
  font-size: 1.5rem;
}
header .container p {
  display: inline;
  text-align: left;
}
header .container p a {
  text-decoration: none;
  color: #300300;
}
header .container .link-github {
  display: inline;
  padding: 0.5rem;
  width: 14rem;
  background-color: #300300;
  color: #FDE9C4;
  text-align: center;
}
header .container .link-github:hover {
  background: #FDE9C4;
  color: #300300;
  border: 1px solid #300300;
}
header .container .link-github:hover svg path {
  fill: #300300;
}
header .container .link-github span {
  vertical-align: middle;
  margin: 0 auto;
}
header .container .link-github span svg {
  display: inline;
  width: 20px;
  height: 20px;
}
header .container .link-github span svg path {
  fill: #FDE9C4;
}

@media (max-width: 768px) {
  header::before {
    width: 30%;
  }
  header .container {
    width: 70%;
    margin-left: 30%;
    padding: 1rem;
  }
  header .container h1 {
    font-size: 1.5rem;
  }
  header .container h2 {
    font-size: 1.2rem;
  }
  header .container p {
    font-size: 1rem;
  }
  header .container .link-github {
    width: auto;
    padding: 0.5rem 1rem;
  }
}
@media (max-width: 480px) {
  header::before {
    width: 40%;
  }
  header .container {
    width: 60%;
    margin-left: 40%;
    padding: 0.5rem;
  }
  header .container h1 {
    font-size: 1.2rem;
  }
  header .container h2 {
    font-size: 1rem;
  }
  header .container p {
    font-size: 0.9rem;
  }
}
nav {
  background: #FFCA62;
  padding: 1rem;
}
nav ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
nav ul li {
  text-transform: uppercase;
  height: 100%;
}
nav ul li:not(:last-of-type):after {
  position: absolute;
  content: "◈";
  margin-left: 0.3rem;
  text-align: center;
  font-size: 1.5rem;
  color: #6D0D01;
}
nav ul li a {
  display: inline;
  font-size: 1.5rem;
  padding: 0.5rem;
  height: 100%;
}
nav ul li a:hover {
  background: #300300;
  color: #FFCA62;
}
@media (max-width: 900px) {
  nav ul {
    flex-direction: column;
  }
}

#about {
  display: flex;
  flex-direction: column;
  padding: 5rem 2rem;
}
#about .container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: start;
  gap: 2rem;
}
#about .container h2 {
  grid-column: span 2;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #6D0D01;
  margin-bottom: 2rem;
}
#about .container blockquote {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 2rem;
  font-style: italic;
  font-size: 1rem;
  color: #300300;
  text-align: left;
}
#about .container blockquote strong {
  font-weight: bold;
  color: #6D0D01;
}
#about .container blockquote a {
  color: #6D0D01;
  text-decoration: underline;
}
#about .container blockquote a:hover {
  color: #FFCA62;
}
#about .container blockquote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 40px;
  height: 40px;
  background: url("../public/images/quote-before.svg") no-repeat center center;
  background-size: contain;
}
#about .container blockquote::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 40px;
  height: 40px;
  background: url("../public/images/quote-after.svg") no-repeat center center;
  background-size: contain;
}
#about .container p {
  grid-column: 2/3;
  color: #300300;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}
#about .container p a {
  color: #6D0D01;
  text-decoration: underline;
}
#about .container p a:hover {
  color: #FFCA62;
}

#guidelines {
  background-color: #fdfdfd;
  color: #300300;
  padding: 2rem 1.5rem;
}
#guidelines .container {
  max-width: 1200px;
  margin: 0 auto;
}
#guidelines .container h3 {
  font-size: 1.5rem;
  color: #6D0D01;
  margin-bottom: 1rem;
}
#guidelines .container p {
  margin-bottom: 1.5rem;
}
#guidelines .container p a {
  color: #6D0D01;
  text-decoration: none;
}
#guidelines .container p a:hover {
  color: #FFCA62;
}
#guidelines .container .link-guidelines {
  display: block;
  background-color: #300300;
  color: #fdfdfd;
  width: 14rem;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  transition: background-color 0.3s ease;
  margin: 0 auto;
}
#guidelines .container .link-guidelines:hover {
  background: #fdfdfd;
  color: #300300;
  border: 1px solid #300300;
}
#guidelines .container .link-guidelines:focus {
  outline: 2px dashed #FFCA62;
  outline-offset: 3px;
}

#contribute {
  padding: 2rem;
  position: relative;
}
#contribute .container {
  margin: 0 auto;
}
#contribute .container p {
  margin-bottom: 1.5rem;
}
#contribute .container p a {
  text-decoration: none;
  color: #300300;
}
#contribute .container p a:hover {
  text-decoration: underline;
}
#contribute .container ol {
  list-style: decimal inside;
  padding-left: 1rem;
}
#contribute .container ol li {
  margin-bottom: 1rem;
  line-height: 1.6;
}
#contribute .container ol li a:hover {
  text-decoration: underline;
}

#files {
  background-color: #FFCA62;
  padding: 2rem;
  position: relative;
  text-align: center;
}
#files h3 {
  color: #6D0D01;
  margin-bottom: 1.5rem;
  vertical-align: middle;
}
#files h3::before {
  content: "◈";
  display: inline-block;
  font-weight: 600;
  margin-right: 1rem;
}
#files a {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #fdfdfd;
  background-color: #6D0D01;
  transition: background-color 0.3s ease;
}
@media (max-width: 585px) {
  #files a {
    width: 14rem;
  }
}
#files a:hover {
  background-color: #FFCA62;
  color: #6D0D01;
  border: 1px solid #6D0D01;
}
#files a:focus {
  outline: 2px dashed #FFCA62;
  outline-offset: 2px;
}

aside#styles {
  background: #FDE9C4;
  color: #300300;
}
aside#styles .container {
  text-align: center;
  padding: 5rem;
}
@media (max-width: 500px) {
  aside#styles .container {
    padding: 1rem;
  }
}
aside#styles .container > a {
  background: #300300;
  color: #FDE9C4;
  display: block;
  padding: 0.5rem;
  width: 14rem;
  margin: 0 auto;
  margin-top: 1rem;
}
aside#styles .container > a:hover {
  background: #FDE9C4;
  color: #300300;
  border: 1px solid #300300;
}
aside#styles .container ul.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
aside#styles .container ul.features li {
  padding: 1rem;
  width: 14rem;
  height: 14rem;
  border: 1px solid #300300;
  align-content: center;
  margin: 0 auto;
}
aside#styles .container ul.features li a:hover {
  color: #6D0D01;
  text-decoration: underline;
}

aside.profile {
  background: #fdfdfd;
}
aside.profile .container {
  color: #300300;
  padding: 5rem;
  text-align: center;
}
aside.profile .container ul {
  display: inline-block;
}
aside.profile .container ul li {
  display: inline-block;
  list-style: none;
}
aside.profile .container ul li a {
  text-decoration: none;
  color: #300300;
}
aside.profile .container ul li a:hover {
  text-decoration: underline;
}
aside.profile .container > a {
  display: block;
  padding: 0.5rem;
  max-width: 14rem;
  background: #300300;
  color: #fdfdfd;
  margin: 0 auto;
  margin-top: 1rem;
}
aside.profile .container > a:hover {
  background: #fdfdfd;
  color: #300300;
  border: 1px solid #300300;
}

.page-footer {
  background-color: #300300;
  color: #FDE9C4;
  padding: 1.5rem 1rem;
}
.page-footer .container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.page-footer .container p {
  font-size: 0.9rem;
  line-height: 1.4;
}
.page-footer .container p a {
  text-decoration: none;
  font-style: italic;
}
.page-footer .container p a:hover {
  color: #FFCA62;
  text-decoration: underline;
}
.page-footer .container ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
@media (max-width: 650px) {
  .page-footer .container ul {
    flex-direction: column;
  }
  .page-footer .container ul li a {
    width: 14rem;
  }
}
.page-footer .container ul li a {
  display: inline-block;
  background: #FDE9C4;
  color: #300300;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.page-footer .container ul li a:hover {
  background: #300300;
  border: 1px solid #FDE9C4;
  color: #FDE9C4;
}
.page-footer .container ul li a:hover svg path {
  fill: #FDE9C4;
}
.page-footer .container ul li a:focus {
  outline: 2px dashed #FFCA62;
  outline-offset: 2px;
}
.page-footer .container ul li a svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
}
.page-footer .container ul li a svg path {
  fill: #300300;
}
.page-footer .container .link-github {
  background-color: #FDE9C4;
  color: #300300;
  padding: 0.5rem 1rem;
}
.page-footer .container .link-github svg {
  margin-right: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
